<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
		<Property name="format">%d{yyy-MM-dd HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n</Property>
	</Properties>
	
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${format}" />
		</Console>
		<File name="File" fileName="db-exec.log" immediateFlush="false" append="false">
			<PatternLayout pattern="${format}" />
		</File>
	</Appenders>
	
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>